body {
  background-color: #fafafa;
}

#hero {
  background-image: 
    linear-gradient(rgba(0,0,0,.4), rgba(0,0,0,.7)), url("img/hero.jpg");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  width: 100vw;
  padding-top: 3rem;
  padding-bottom: 2rem;
}

.avatar{
  width: 20vw;
  height: 20vw;
  margin: auto;
  border-radius: 50%;
  border: 2px solid white;
}

.avatarBorder {
  text-align: center;
}

.heading {
  text-align: center;
  color: white;
  padding-top: 1vh;
}

#inspiration {
  min-height: 50vh;
  margin-top: 1rem;
}

.inspo-header {
  text-align: center;
  padding: 1rem;
  color: black;
}

#mission {
  margin-top: 1rem;
  min-height: 50vh;
}

.mission-header {
  text-align: center;
  vertical-align: center;
  padding-top: 1rem;
  color: black;
}

.mission-img {
  width: 100%;
  height: auto;
  display: block;
  margin: auto;
  padding: 1rem;
}

.mission-content {
  text-align: center; 
  color: black;
  padding: 250px 0;
}

#skills {
  min-height: 30vh;
  margin-top: 1rem;
}

.skills-header {
  text-align: center;
  color: black;
  padding-top: 1rem;
}

.logo {
  width: 50%;
  display: block;
  margin: auto;
  padding: 1rem;
}

#contact {
  min-height: 20vh;
  margin-top: 1rem;
}

.contact-header {
  text-align: center;
  padding: 1rem;
  color: black;
}

.contact-logo {
  width: 25%;
  display: block;
  margin: auto;
  padding-bottom: 1rem;
}

#footer {
  min-height: 10vh;
  margin-top: 1rem;
  text-align: center;
}

.carousel-caption {
  color: black;
  font-size: 1.5rem;
  font-weight: bold;
  background-color: rgba(255, 255, 255, 0.3);
  border-radius: 10px;
  backdrop-filter: blur(10px);
}